@import "tailwindcss";

/* Si Tailwind v4 no lee el config, define los colores aquí también por seguridad */
@theme {
  --color-jw-navy: #1a335a;
  --color-jw-blue: #214382;
  --color-jw-accent: #4a6da7;
  --color-jw-body: #f5f5f5;
  --color-jw-card: #ffffff;
  --color-jw-border: #d1d1d1;
}

/* Forzar el tamaño de fuente base en el navegador */
html {
  font-size: 112.5%; /* Esto sube la base de 16px a 18px automáticamente */
}

body {
  @apply bg-jw-body text-gray-900 antialiased;
  max-width: 100vw;
  overflow-x: hidden;
}